---
import Layout from '../layouts/Layout.astro';
import Cover from '../components/Cover.astro';
import Bio from '../components/Bio.astro';
import Album from '../components/Album.astro';
import Palmares from '../components/Palmares.astro';
import Critiques from "../components/Critiques.astro"
import Radios from '../components/Radios.astro';
import Radios2 from '../components/Radios2.astro';
import Journaux from '../components/Journaux.astro';
import Journaux2 from '../components/Journaux2.astro';
import TV from '../components/TV.astro';
import TV2 from '../components/TV2.astro';
import Internet from '../components/Internet.astro';
import Internet2 from '../components/Internet2.astro';
import Internet3 from '../components/Internet3.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Doloréanne - Dossier de presse">
	<div class="page-column">
		<Cover />
	</div>
	<div class="page-column">
		<Bio />
	</div>
	<div class="page-column">
		<Album />
	</div>
	<div class="page-column">
		<Palmares />
	</div>
	<div class="page-column">
		<Critiques />
	</div>
	<div class="page-column">
		<Radios />
	</div>
	<div class="page-column">
		<Radios2 />
	</div>
	<div class="page-column">
		<Journaux />
	</div>
	<div class="page-column">
		<Journaux2 />
	</div>
	<div class="page-column">
		<TV />
	</div>
	<div class="page-column">
		<TV2 />
	</div>
	<div class="page-column">
		<Internet />
	</div>
	<div class="page-column">
		<Internet2 />
	</div>
	<div class="page-column">
		<Internet3 />
	</div> 
	<div class="page-column">
		<Contact />
	</div> 
</Layout>

<style>
	.page-column {
		max-width: 8.5in;
		width: 8.5in;
	}
</style>
