<div class="section">
	<div>
		<h1>Bigraphie</h1>
		<p class="paragraph">
			La première fois qu’Alexandre, Frédérique, Éloi et Émile se sont retrouvés dans la même pièce, le nom  « Doloréanne » était encore bien loin de voir le jour. S’ils partageaient ce désir de jeunesse de former un groupe, de créer leur propre musique, ils arrivaient avec des influences et des visions aussi différentes qu’embryonnaires. Se sont ensuivies plusieurs années d’apprentissages et d’explorations, ponctuées par les arrivées et départs de quelques autres membres du groupe.
		</p>
		<p class="paragraph">
			Dix ans plus tard, le quatuor tient maintenant un projet bien concret, une identité musicale claire et unique. Depuis le lancement d’un premier album, Danse encore, en 2016, le groupe a tranquillement fait son nom sur la scène émergente de Québec avec sa pop singulière et touchante et son énergie débordante en spectacle. Avec son dernier album : <i>Tout le monde a froid</i>, <i>Doloréanne</i> dévoile une signature un peu plus intime et posée qui témoigne de l’aboutissement, voir de l’accomplissement, d’un long et réel processus créatif.
		</p>
	</div>
	<div>
		<h1>Liens</h1>
		<div class="link">
			<a href="https://www.facebook.com/Doloreanne/">https://www.facebook.com/Doloreanne/</a>
		</div>
		<div class="link">
			<a href="https://www.instagram.com/doloreanne/">https://www.instagram.com/doloreanne/</a>
		</div>
		<div class="link">
			<a href="http://www.doloreanne.com/">http://www.doloreanne.com/</a>
		</div>
		<div class="link">
			<a href="https://www.youtube.com/user/groupedoloreanne">https://www.youtube.com/user/groupedoloreanne</a>
		</div>
	</div>
</div>

<style>
.section {
	height: 11in;
	width: 100%;
	background-color: #fff;
	color: #000;
	padding: 128px 4em 2em 4em;
}
.paragraph {
	margin: 3em 0;
}
.link {
	margin: 1em 0;
}
</style>