<div class="section">	
	<div class="container">
		<div class="wrapper">
			<div class="title">
				<h1>Contact</h1>
			</div>

			<div class="contact-group">
				<div class="contact">Promotion radio</div>
				<div>
					Pistage Radio Julia Smile
				</div>
				<div>
					(418) 655-1769
				</div>
				<div>
					<a class="link-white" href="mailto:julie@pistageradiojuliasmile.com">julie@pistageradiojuliasmile.com</a>
				</div>

				<div class="contact">Spectacles</div>
				<div>
					Agence Julia Smile
				</div>
				<div>
					(418) 655-1769
				</div>
				<div>
					<a class="link-white" href="mailto:julie@pistageradiojuliasmile.com">julie@pistageradiojuliasmile.com</a>
				</div>

				<div class="contact">Gérance</div>
				<div>
					Alexandre Vézina
				</div>
				<div>
					(581) 982-5190
				</div>
				<div>
					<a  class="link-white" href="mailto:alex@doloreanne.com">alex@doloreanne.com</a>
				</div>
			</div>
		</div>
	</div>

	<div class="wezo">
		<img src="/wezo.svg" />
	</div>
</div>

<style>
.section {
	height: 11in;
	width: 100%;
	background-color: #131313;
	color: #fff;
	position: relative;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.contact-group {
	padding: 1em 0 0 4em;
}
.wrapper {
	padding: 4em 4em 0 4em;
}
.contact {
	font-size: 22px;
	margin-top: 2em;
	font-weight: bold;
}
.wezo {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 32px;
}
a.link-white {
	color: #fff
}
</style>