<div class="section">
	<div class="title">
		<h1>Palmarès</h1>
	</div>

	<div class="container">
		<div class="single"><i>Tout le monde a froid (2021)</i></div>
		<ul>
			<li>No. 24 du top 25 BDS Pop-Rock</li>
			<li>No. 42 top 100 BDS</li>
			<li>Top 100 BDS pendant plus de 16 semaines</li>
		</ul>

		<div class="single"><i>Anticorps (2019)</i></div>
		<ul>
			<li>No. 1 du palmarès CKRL</li>
		</ul>

		<div class="single"><i>Jusqu'au bout (2018)</i></div>
		<ul>
			<li>No. 3 du palmarès CKRL</li>
		</ul>
	</div>
</div>

<style>
.section {
	height: 11in;
	width: 100%;
	background-color: #fff;
	color: #000;
	padding: 4em 4em 0 4em;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 4em;
}
.single {
	font-size: 18px;
	margin-top: 2em;
	font-weight: bold;
}
</style>