<div class="section">
	<div>
		<h1>Radios</h1>

		<div class="elem">
			<div class="link">
				<a href="https://podcasts.apple.com/ca/podcast/qulture/id1305231122?i=1000531840233">
					CKIA – Qulture – Entrevue téléphonique, le 12 août 2021
				</a>
			</div>
			<div><i>Début: 1:14:36</i></div>
			<div class="img">
				<img src="/Radios-CKIA–Qulture-20210812.png" />
			</div>
		</div>

		<hr />

		<div class="elem">
			<div class="link">
				<a href="https://podcasts.apple.com/ca/podcast/qulture/id1305231122?i=1000531840233">
					Radio-Canada – C’est encore mieux l’après-midi, le 12 août 2021
				</a>
			</div>
			<div class="img">
				<img src="/Radios-RC-CEMAM-20210812.png" />
			</div>
		</div>
	</div>
</div>

<style>
.section {
	height: 11in;
	width: 100%;
	background-color: #fff;
	color: #000;
	padding: 4em 4em 0 4em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.elem {
	margin: 3em 0 0 0;
}
.link {
	margin: 0 0 0.5em 0;
}
.link a {
	font-size: 18px;
	line-height: 24px;
	font-family: "Open Sans";
}
.img img {
	margin: 1em 0;
	max-width: 100%;
}
hr {
	border-top: 1px solid #f8f8f8;
}
</style>