<div class="section">
	<div>
		<h1>Télévision</h1>

		<div class="elem">
			<div class="link">
				<a href="https://ici.radio-canada.ca/info/videos/1-8486918/nouvel-opus-pour-doloreanne">
					Radio-Canada – Le Téléjournal, le 12 août 2021
				</a>
			</div>
			<div class="img">
				<img src="/TV-RC-TJ-20210812.png" />
			</div>
		</div>
	</div>
</div>

<style>
.section {
	height: 11in;
	width: 100%;
	background-color: #fff;
	color: #000;
	padding: 4em 4em 0 4em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.elem {
	margin: 3em 0 0 0;
}
.link {
	margin: 0 0 0.5em 0;
}
.link a {
	font-size: 18px;
	line-height: 24px;
	font-family: "Open Sans";
}
.img img {
	margin: 1em 0;
	max-width: 100%;
}
hr {
	border-top: 1px solid #f8f8f8;
}
</style>