<div class="section">
	<div>
		<h1>Télévision (suite)</h1>

		<div class="elem">
			<div class="link">
				<a href="https://matv.ca/bas-saint-laurent/mes-emissions/j-aurais-voulu-etre/emile-brassard-gourdeau---chanteur-doloreanne">
					MAtv – J'aurais voulu être, le 8 octobre 2022
				</a>
			</div>
			<div class="img">
				<img src="/TV-MAtv-JauraisVouluEtre-20221108.png" />
			</div>
		</div>
	</div>
</div>

<style>
.section {
	height: 11in;
	width: 100%;
	background-color: #fff;
	color: #000;
	padding: 4em 4em 0 4em;
	display: flex;
}
.elem {
	margin: 3em 0 0 0;
}
.link {
	margin: 0 0 0.5em 0;
}
.link a {
	font-size: 18px;
	line-height: 24px;
	font-family: "Open Sans";
}
.img img {
	margin: 1em 0;
	max-width: 100%;
}
hr {
	border-top: 1px solid #f8f8f8;
}
</style>